// Этот блок ответственен ТОЛЬКО за типографику проекта.
// Не пишите тут какую-либо стороннюю стилизацию.

$font-size--base = 10px

/**
 * Преобразование пикселей в rem на основе переменной с базовым размером шрифта.
 * @param  {number} $px Число пикселей (с единицами измерения или без)
 * @param  {string} Число пикселей, размер контентного шрифта на проекте
 * @return {string} Результат преобразования $px в rem
 */
rem($px, $font-size = $font-size--base) {
  return ($px / $font-size) rem
}

$font-size = 1rem // rem(16px)

$font-size--h1 = rem(40px)
$font-size--h2 = rem(32px)
$font-size--h3 = rem(24px)
$font-size--h4 = rem(18px)
$font-size--h5 = rem(16px)
$font-size--h6 = rem(16px)

$font-size--small = 80%

$line-height = 1.5

$font-family =                  'Liberation Sans', -apple-system, BlinkMacSystemFont, 'Roboto', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'
$font-family--serif =           'Georgia', 'Times New Roman', 'Times', serif !default
$font-family--monospace =       SFMono-Regular, 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', monospace !default
$font-family--headings =        'Univers Condensed', -apple-system, BlinkMacSystemFont, 'Roboto', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'

$text-color = hsl(0, 0%, 10%)

// @font-face {
//   font-family: 'FONTNAME';
//   src: url('../fonts/FONTNAME.woff2') format('woff2'),
//        url('../fonts/FONTNAME.woff') format('woff'),
//        url('../fonts/FONTNAME.ttf')  format('truetype');
//   font-weight: 400;
//   font-style: normal;
// }



html {
	font-size: $font-size--base;

	// Для адаптивной типографики, менять font-size на html
	// @media (min-width: $screen-md) {
	//   font-size: ($font-size--base + 2);
	// }
}

body {
	// ТОЛЬКО типографика!
	font-family: $font-family;
	font-size: $font-size;
	line-height: $line-height;
	color: $text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-family--headings;
	font-weight: 700;
	line-height: 1.2;
	color: currentColor;
}

h1,
h2,
h3 {
	margin-top: 3rem;
	margin-bottom: 0.5rem;
}

h4,
h5,
h6 {
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}

h1 {
	/* font-size: #{(($font-size--h1 / ($font-size--h1 * 0 + 1)) * $font-size--base)}; */
	font-size: $font-size--h1;
}

h2 {
	/* font-size: #{(($font-size--h2 / ($font-size--h2 * 0 + 1)) * $font-size--base)}; */
	font-size: $font-size--h2;
}

h3 {
	/* font-size: #{(($font-size--h3 / ($font-size--h3 * 0 + 1)) * $font-size--base)}; */
	font-size: $font-size--h3;
}

h4 {
	/* font-size: #{(($font-size--h4 / ($font-size--h4 * 0 + 1)) * $font-size--base)}; */
	font-size: $font-size--h4;
}

h5 {
	/* font-size: #{(($font-size--h5 / ($font-size--h5 * 0 + 1)) * $font-size--base)}; */
	font-size: $font-size--h5;
}


h6 {
	/* font-size: #{(($font-size--h6 / ($font-size--h6 * 0 + 1)) * $font-size--base)}; */
	font-size: $font-size--h6;
}

p,
ul,
ol,
dl,
table,
blockquote,
pre,
address,
figure {
	margin-top: 0;
	margin-bottom: 1rem;
}


